@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #000000;
}

.logo {
	background-image: url("../images/logo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}

